* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: blueviolet;
}

h1,
label {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  color: yellow;
}

.gameContainer {
  width: 80%;
  height: 600px;
  display: flex;
  border: 1px solid red;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameBox {
  width: 200px;
}

.a1,
.a2,
.a3,
.b1,
.b2,
.b3,
.c1,
.c2,
.c3 {
  display: inline;
  border-right: 5px solid yellow;
  text-align: center;
  padding-top: 10%;
}
.a3,
.b3,
.c3 {
  border-right: none;
}

.a1,
.a2,
.a3,
.b1,
.b2,
.b3 {
  border-bottom: 5px solid yellow;
}

.row1,
.row2,
.row3 {
  width: 400px;
  height: 20%;
  display: flex;
}

.nameInputField {
  margin: 20px 0;
}

button {
  position: relative;
  right: 7px;
  border: 2px solid black;
  height: 21px;
  border-radius: 1px;
  padding: 1px;
  color: black;
  background-color: white;
}
button:hover {
  border: 2px solid red;
}

.playerList {
  display: flex;
  gap: 15rem;
  margin-bottom: 4rem;
}
