/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap");

/* ----------- */
* {
  margin: 0;
}
/* CSS VARIABLES */
:root {
  --mainFontFace: "Gasoek One", sans-serif;
}
/*  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.gameBoard--Grid-Container {
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  grid-template-rows: repeat(4, 15vh);
}

.gameBoard--Grid-Container .first-cell {
  grid-column: 1 / span 3;
}
.gameCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(210, 8, 193);
  text-align: center;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--mainFontFace);
}

.gameName {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-size: 100%;
  background-clip: text;
  border: 1px solid rgb(210, 8, 193);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--mainFontFace);
  font-size: 3rem;
}

#playerWinField {
  border: 1px solid rgb(210, 8, 193);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--mainFontFace);
  font-size: 2rem;
}

@media (max-width: 767px) {
  .gameName {
    font-size: 2rem;
  }
}
@media (max-width: 667px) {
  .gameName {
    font-size: 1.5rem;
  }
}
@media (max-height: 835px) {
  .gameName {
    font-size: 2rem;
  }
}

@media (max-height: 667px) and (max-width: 375) {
  .gameName {
    font-size: 0.05rem;
  }
}
@media (max-height: 578px) {
  .gameName {
    font-size: 1rem;
  }
}
