/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  /* list-style-type: none; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
#drinkImgDisplayField {
  display: block;
  margin: 0 auto;
  width: 20vw;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  padding: 2rem 0;
}

ol {
  margin-bottom: 2rem;
}

#drinkInstructionsDisplayField {
  text-align: center;
}

#instructionsToMakeDrink {
  max-width: 50vw;
}
